# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.EssenceUDK.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Ultima\Utility SRC\essenceudk_personal\.idea\.idea.EssenceUDK\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
